.title {
  background-color: #0c1a2c;
  height: 60px;
  padding: 0 20px;
  color: #ffffff;
  font-size: 30px;
  line-height: 60px;
  text-align: center;
}

.title h1 {
  display: inline-block;
}

.title h1:hover {
  cursor: pointer;
  animation: move 10s steps(1000) infinite;
}

.title .fa {
  float: right;
  line-height: 60px;
}

.title .fa-check-circle {
  color: #A51C2F;
  animation: fa-check-circle-spin infinite 20s linear;
}

.title .fa:hover {
  cursor: pointer;
}

header {
  position: fixed;
  width: 100%;
  background-color: #ffffff;
  box-shadow: 0 0 10px 0 rgba(0,0,0,.2);
  z-index: 1;
}

header ul li {
  display: inline-block;
  float: left;
  color: #222222;
  font-size: 24px;
  font-weight: 300;
  line-height: 40px;
  margin-left: 20px;
  transition-property: color, background-color;
  transition-duration: 1s;
  transition-timing-function: ease-out;
}

header ul li:hover {
  cursor: pointer;
  background-color: #A51C2F;
  color: #fff;
}

header nav .search-item {
  display: inline-block;
  float: right;
  color: #222222;
  font-size: 24px;
  font-weight: 300;
  line-height: 40px;
  margin-right: 20px;
}

header nav .search-item .fa {
  margin: 0 5px;
}

header nav .search-item .fa:hover {
  cursor: pointer;
  animation: fontbulger 1.5s infinite;
}

header nav .search-item input {
  background: transparent;
  border: none;
  font-size: 24px;
  width: 150px;
}

header nav .search-item input:focus {
  outline-color: #939393;
  animation: colorchange 3s infinite;
}

main .container {
  padding: 0 10px;
  text-align: center;
}

.select-nav {
  color: #A51C2F;
}

@keyframes move {
  0% { transform: translateX(0px) rotate(0deg); }
  25% { transform: translateX(-200px) rotate(-360deg); }
  50% { transform: translateX(0px) rotate(0deg); }
  75% { transform: translateX(200px) rotate(360deg); }
  100% { transform: translateX(0px) rotate(0deg); }
}

@keyframes fa-check-circle-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@keyframes fontbulger {
  0%, 100% {
    font-size: 22px;
  }
  50% {
    font-size: 30px;
  }
}

@keyframes colorchange {
  0%   {outline-color: #939393;}
  50%  {outline-color: #A51C2F;}
  100% {outline-color: #0c1a2c;}
}

@media screen and (max-width: 730px) {
  header ul li {
    font-size: 20px;
  }

  header nav .search-item {
    font-size: 20px;
  }

  header nav .search-item input {
    font-size: 20px;
    width: 100px;
  }
}

@media screen and (max-width: 530px) {
  header ul li {
    font-size: 16px;
  }

  header nav .search-item {
    font-size: 16px;
  }

  header nav .search-item input {
    font-size: 16px;
    width: 80px;
  }
}

@media screen and (max-width: 445px) {
  header ul li {
    font-size: 14px;
  }

  header nav .search-item {
    font-size: 14px;
  }

  header nav .search-item input {
    font-size: 14px;
    width: 60px;
  }
}

@media screen and (max-width: 340px) {
  header ul li {
    font-size: 10px;
  }

  header nav .search-item {
    font-size: 10px;
  }

  header nav .search-item input {
    font-size: 10px;
    width: 40px;
  }
}
