.item-entry {
  display: inline-block;
  width: 250px;
  height: 100%;
  margin: 20px;
  border: 1px solid #dbdbdb;
}

.item-picture {
  width: 250px;
  height: 370px;
  border-bottom: 1px solid #dbdbdb;
}

.item-title {
  color: #939393;
  font-size: 16px;
  padding: 10px;
}

.item-price {
  color: #222222;
  font-size: 16px;
  font-weight: 600;
  padding-bottom: 10px;
  border-bottom: 1px solid #dbdbdb;
}

.item-pin {
  color: #bcbaba;
  font-size: 16px;
  padding: 10px 0;
}

.item-pin:hover {
  color: #A51C2F;
  cursor: pointer;
}

.item-pin .fa {
  margin-right: 5px;
}

@media screen and (max-width: 895px) {
  .item-entry {
    width: 200px;
    margin: 10px;
  }

  .item-picture {
    width: 200px;
    height: 320px
  }

  .lookpin-payment {
    top: 0px;
    left: 0px;
    width: 40px;
    height: 40px;
  }

  .item-title {
    font-size: 14px;
  }

  .item-price {
    font-size: 14px;
  }

  .item-pin {
    font-size: 14px;
  }
}

@media screen and (max-width: 685px) {
  .item-entry {
    width: 150px;
    margin: 10px;
  }

  .item-picture {
    width: 150px;
    height: 270px
  }

  .lookpin-payment {
    top: 0px;
    left: 0px;
    width: 40px;
    height: 40px;
  }
}

@media screen and (max-width: 535px) {
  .item-entry {
    width: 120px;
    margin: 10px;
  }

  .item-picture {
    width: 120px;
    height: 170px
  }

  .lookpin-payment {
    top: 0px;
    left: 0px;
    width: 40px;
    height: 40px;
  }

  .item-title {
    font-size: 12px;
  }

  .item-price {
    font-size: 12px;
  }

  .item-pin {
    font-size: 12px;
  }
}

@media screen and (max-width: 445px) {
  .item-entry {
    width: 100px;
    margin: 10px 3px 0 3px;
  }

  .item-picture {
    width: 100px;
    height: 150px
  }

  .lookpin-payment {
    top: 0px;
    left: 0px;
    width: 40px;
    height: 40px;
  }

  .item-title {
    font-size: 10px;
  }

  .item-price {
    font-size: 10px;
  }

  .item-pin {
    font-size: 10px;
  }
}

@media screen and (max-width: 343px) {
  .item-entry {
    width: 90px;
    margin: 10px 3px 0 3px;
  }

  .item-picture {
    width: 90px;
    height: 150px
  }

  .lookpin-payment {
    top: 0px;
    left: 0px;
    width: 40px;
    height: 40px;
  }
}
