.title {
  background-color: #0c1a2c;
  height: 60px;
  padding: 0 20px;
  color: #ffffff;
  font-size: 30px;
  line-height: 60px;
  text-align: center;
}

header {
  position: fixed;
  width: 100%;
  background-color: #ffffff;
  box-shadow: 0 0 10px 0 rgba(0,0,0,.2);
  z-index: 1;
}

header ul li {
  display: inline-block;
  float: left;
  color: #222222;
  font-size: 24px;
  font-weight: 300;
  line-height: 40px;
  margin-left: 20px;
}

header nav .search-item {
  display: inline-block;
  float: right;
  color: #222222;
  font-size: 24px;
  font-weight: 300;
  line-height: 40px;
  margin-right: 20px;
}

@media screen and (max-width: 730px) {
  header ul li {
    font-size: 20px;
  }

  header nav .search-item {
    font-size: 20px;
  }
}

@media screen and (max-width: 412px) {
  header ul li {
    font-size: 14px;
  }

  header nav .search-item {
    font-size: 14px;
  }
}

@media screen and (max-width: 340px) {
  header ul li {
    font-size: 10px;
  }

  header nav .search-item {
    font-size: 10px;
  }
}
